<div class="container-fluid bg-dark text-white py-5 px-sm-3 px-md-5">
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
            <a href="/assets/index.html" class="navbar-brand">
                <h1 class="m-0 mt-n3 display-6 text-primary">مدرسه ثامن</h1>
            </a>
            <p>مدرسه ثامن با 25 سال سابقه </p>
            <h5 class="font-weight-semi-bold text-white mb-2">ساعات:</h5>
            <p class="mb-1">شنبه – چهارشنبه , 6 صبح  – 1 عصر</p>
            <p class="mb-0">پنجشنبه و جمعه : تعطیل</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="font-weight-semi-bold text-primary mb-4">راه های ارتباطی</h4>
            <p><i class="fa fa-map-marker-alt text-primary ml-2"></i>شهریار , به سمت میدان معلم</p>
            <p><i class="fa fa-phone-alt text-primary ml-2"></i>09123456789</p>
            <p><i class="fa fa-envelope text-primary ml-2"></i>info@example.com</p>
            <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-light btn-social ml-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-light btn-social ml-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-light btn-social ml-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="font-weight-semi-bold text-primary mb-4">دسترسی سریع</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" href="#"><i class="fa fa-circle  fa-8px  ml-2"></i>خانه</a>
                <a class="text-white mb-2" href="#"><i class="fa fa-circle  fa-8px  ml-2"></i>درباره ما</a>
                <a class="text-white mb-2" href="#"><i class="fa fa-circle  fa-8px  ml-2"></i>برنامه های تمرینی</a>
                <a class="text-white mb-2" href="#"><i class="fa fa-circle  fa-8px  ml-2"></i>مدال های</a>
                <a class="text-white" href="#"><i class="fa fa-circle  fa-8px  ml-2"></i>تماس با ما</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="font-weight-semi-bold text-primary mb-4">خبر نامه</h4>
            <p>از آخرین اخبار و تعطیلی ها و آفرهای مطلع شوید، کافیست ایمیل خود را در قسمت پایین وارد کنید</p>
            <div class="w-100">
                <div class="input-group">
                    <input type="text" class="form-control border-0" style="padding: 25px;border-radius: 0px 25px 25px 0px;" placeholder="پست الکترونیک">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-4" style="border-radius: 25px 0px 0px 25px;">عضویت</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
    <div class="row">
        <div class="col-lg-6 text-center text-md-right mb-3 mb-md-0">
            <p class="m-0 text-white">&copy; <a href="#">مدرسه ثامن</a>.کپی رایت محفوظ <a href="#">برای</a>
            </p>
        </div>
        <div class="col-lg-6 text-center text-md-right">
            <ul class="nav d-inline-flex">
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">مربیان</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">مدیریت</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">سوالات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">راهنما</a>
                </li>
            </ul>
        </div>
    </div>
</div>