<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>درباره مدرسه ثامن</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Samen School" name="keywords" />
    <meta content="Samen School" name="description" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"> -->

    <!-- Libraries Stylesheet -->
    <link
      href="/assets/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="/assets/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Header Start -->
    <%- include('./include/header') %>
    <!-- Header End -->

    <!-- Page Header Start -->
    <div class="container-fluid bg-primary py-0 mb-5">
      <div class="container py-2">
        <div class="row align-items-center py-4">
          <div class="col-md-6 text-center text-md-right">
            <h1 class="display-4 mb-4 mb-md-0 text-dark text-uppercase">
              درباره ما
            </h1>
          </div>
          <div class="col-md-6 text-center text-md-right">
            <div class="d-inline-flex align-items-center">
              <a class="btn btn-sm btn-outline-light" href="/">خانه</a>
              <i class="fas fa-angle-double-left text-light mx-2"></i>
              <a class="btn btn-sm btn-outline-light disabled" href="/"
                >درباره ما</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- About Start -->
    <div class="container-fluid py-5 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div
              class="d-flex flex-column align-items-center justify-content-center bg-about rounded h-100 py-5 px-3"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="100px"
                height="100px"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M6 9C6 5.68629 8.68629 3 12 3C15.3137 3 18 5.68629 18 9C18 12.3137 15.3137 15 12 15C8.68629 15 6 12.3137 6 9Z"
                  fill="#E3403D"
                />
                <path
                  d="M7.10992 14.0087L6.14635 16.8994C5.28723 19.4767 8.02267 21.7775 10.4147 20.4895L11.5261 19.891C11.8221 19.7316 12.1784 19.7316 12.4743 19.891L13.5858 20.4895C15.9778 21.7775 18.7133 19.4767 17.8541 16.8994L16.8905 14.0083C15.6287 15.2406 13.903 16 12 16C10.0972 16 8.37167 15.2407 7.10992 14.0087Z"
                  fill="#E3403D"
                />
              </svg>
              <h1 class="display-2 text-white mb-2" data-toggle="counter-up">
                25
              </h1>
              <h2 class="text-white m-0">سال سابقه</h2>
            </div>
          </div>
          <div class="col-lg-7 pt-5 pb-lg-5">
            <h6
              class="text-secondary font-weight-semi-bold text-uppercase mb-3"
            >
              درباره ما
            </h6>
            <h1 class="mb-4 section-title">درباره مدرسه ثامن</h1>
            <h5 class="text-muted font-weight-normal mb-3">
              مدرسه ثامن با 25 سال سابقه
            </h5>
            <p>
              این یک متن ساده است و هیچ معنایی ندارد و این یک متن ساده است و هیچ
              معنایی ندارد و این یک متن ساده است و هیچ معنایی ندارد و این یک متن
              ساده است و هیچ معنایی ندارد و این یک متن ساده است و هیچ معنایی
              ندارد و این یک متن ساده است و هیچ معنایی ندارد و این یک متن ساده
              است و هیچ معنایی ندارد و
            </p>
            <div class="d-flex align-items-center pt-4">
              <a
                href="/blog/%DA%A9%D9%84%D8%A7%D8%B3-%D8%BA%DB%8C%D8%B1%D8%AD%D8%B6%D9%88%D8%B1%DB%8C"
                class="btn btn-primary ml-5"
                >مطالعه بیشتر</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- Features Start -->
    <div class="container-fluid py-5" style="background-color: #f0f0f0">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-7 pt-lg-5 pb-3">
            <h6
              class="text-secondary font-weight-semi-bold text-uppercase mb-3"
            >
              چرا ما رو انتخاب کنید
            </h6>
            <h1 class="mb-4 section-title">25 سال سابقه با مقامات مختلف</h1>
            <p class="mb-4">
              این یک متن ساده است و هیچ معنایی ندارد و این یک متن ساده است و هیچ
              معنایی ندارد و این یک متن ساده است و هیچ معنایی ندارد و این یک متن
              ساده است و هیچ معنایی ندارد و این یک متن ساده است و هیچ معنایی
              ندارد و این یک متن ساده است و هیچ معنایی ندارد و این یک متن ساده
              است و هیچ معنایی ندارد و
            </p>
            <div class="row">
              <div class="col-sm-4">
                <h1 class="text-secondary mb-2" data-toggle="counter-up">20</h1>
                <h6 class="font-weight-semi-bold mb-sm-4">کادر اموزشی</h6>
              </div>
              <div class="col-sm-4">
                <h1 class="text-secondary mb-2" data-toggle="counter-up">
                  202
                </h1>
                <h6 class="font-weight-semi-bold mb-sm-4">دانش اموز</h6>
              </div>
              <div class="col-sm-4">
                <h1 class="text-secondary mb-2" data-toggle="counter-up">25</h1>
                <h6 class="font-weight-semi-bold mb-sm-4">سال سابقه</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-5" style="min-height: 400px">
            <div class="position-relative h-100 rounded overflow-hidden">
              <img
                class="position-absolute w-100 h-100"
                src="/assets/img/feature.jpg"
                style="object-fit: cover"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features End -->

    <!-- Team Start -->
    <div class="container-fluid py-5">
      <div class="container py-5">
        <div class="row align-items-end mb-4">
          <div class="col-lg-6">
            <h6
              class="text-secondary font-weight-semi-bold text-uppercase mb-3"
            >
              تیم مدرسه ثامن
            </h6>
            <h1 class="section-title mb-3">معلمان و معاونان</h1>
          </div>
          <div class="col-lg-6">
            <h4 class="font-weight-normal text-muted mb-3">
              بهترین کادر معلم و معاونان در هر جهت
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="owl-carousel team-carousel position-relative dir-l">
              <div
                class="team d-flex flex-column text-center rounded overflow-hidden"
              >
                <div class="position-relative">
                  <div class="team-img">
                    <img
                      class="img-fluid w-100"
                      style="height: 500px"
                      src="/assets/img/team-1.jpg"
                      alt=""
                    />
                  </div>
                  <div
                    class="team-social d-flex flex-column align-items-center justify-content-center bg-primary"
                  >
                    <a class="btn btn-secondary btn-social mb-2" href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="25px"
                        height="25px"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M19.83 8.00001C19.83 8.17001 19.83 8.35001 19.83 8.52001C19.8393 10.0302 19.5487 11.5272 18.9751 12.9242C18.4014 14.3212 17.5562 15.5904 16.4883 16.6583C15.4204 17.7262 14.1512 18.5714 12.7542 19.1451C11.3572 19.7187 9.86017 20.0093 8.34999 20C6.15213 20.0064 3.9992 19.3779 2.14999 18.19C2.47999 18.19 2.78999 18.19 3.14999 18.19C4.96345 18.19 6.72433 17.5808 8.14999 16.46C7.30493 16.4524 6.48397 16.1774 5.80489 15.6744C5.12581 15.1714 4.62349 14.4662 4.36999 13.66C4.62464 13.7006 4.88213 13.7207 5.13999 13.72C5.49714 13.7174 5.85281 13.6738 6.19999 13.59C5.2965 13.4056 4.48448 12.9147 3.90135 12.2003C3.31822 11.486 2.99981 10.5921 2.99999 9.67001C3.55908 9.97841 4.18206 10.153 4.81999 10.18C4.25711 9.80767 3.79593 9.30089 3.47815 8.7055C3.16038 8.11011 2.99604 7.44489 2.99999 6.77001C3.00124 6.06749 3.18749 5.37769 3.53999 4.77001C4.55172 6.01766 5.81423 7.03889 7.24575 7.76757C8.67727 8.49625 10.2459 8.91613 11.85 9.00001C11.7865 8.69737 11.753 8.38922 11.75 8.08001C11.7239 7.25689 11.9526 6.44578 12.4047 5.75746C12.8569 5.06913 13.5104 4.53714 14.2762 4.23411C15.0419 3.93109 15.8826 3.87181 16.6833 4.06437C17.484 4.25693 18.2057 4.69195 18.75 5.31001C19.655 5.12822 20.5214 4.78981 21.31 4.31001C21.0088 5.24317 20.3754 6.0332 19.53 6.53001C20.3337 6.44316 21.1194 6.23408 21.86 5.91001C21.3116 6.71097 20.6361 7.41694 19.86 8.00001H19.83Z"
                          fill="#fff"
                        /></svg
                    ></a>
                    <a class="btn btn-secondary btn-social mb-2" href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#fff"
                        width="25px"
                        height="25px"
                        viewBox="0 0 32 32"
                      >
                        <path
                          d="M21.95 5.005l-3.306-.004c-3.206 0-5.277 2.124-5.277 5.415v2.495H10.05v4.515h3.317l-.004 9.575h4.641l.004-9.575h3.806l-.003-4.514h-3.803v-2.117c0-1.018.241-1.533 1.566-1.533l2.366-.001.01-4.256z"
                        /></svg
                    ></a>
                    <a class="btn btn-secondary btn-social" href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#fff"
                        width="25px"
                        height="25px"
                        viewBox="0 0 32 32"
                      >
                        <path
                          d="M20.445 5h-8.891A6.559 6.559 0 0 0 5 11.554v8.891A6.559 6.559 0 0 0 11.554 27h8.891a6.56 6.56 0 0 0 6.554-6.555v-8.891A6.557 6.557 0 0 0 20.445 5zm4.342 15.445a4.343 4.343 0 0 1-4.342 4.342h-8.891a4.341 4.341 0 0 1-4.341-4.342v-8.891a4.34 4.34 0 0 1 4.341-4.341h8.891a4.342 4.342 0 0 1 4.341 4.341l.001 8.891z"
                        />
                        <path
                          d="M16 10.312c-3.138 0-5.688 2.551-5.688 5.688s2.551 5.688 5.688 5.688 5.688-2.551 5.688-5.688-2.55-5.688-5.688-5.688zm0 9.163a3.475 3.475 0 1 1-.001-6.95 3.475 3.475 0 0 1 .001 6.95zM21.7 8.991a1.363 1.363 0 1 1-1.364 1.364c0-.752.51-1.364 1.364-1.364z"
                        /></svg
                    ></a>
                  </div>
                </div>
                <div class="d-flex flex-column bg-primary text-center py-4">
                  <h5 class="font-weight-bold">اقای نایجی</h5>
                  <p class="text-white m-0">مدیریت مدرسه</p>
                </div>
              </div>
              <div
                class="team d-flex flex-column text-center rounded overflow-hidden"
              >
                <div class="position-relative">
                  <div class="team-img">
                    <img
                      class="img-fluid w-100"
                      style="height: 500px"
                      src="/assets/img/team-1.jpg"
                      alt=""
                    />
                  </div>
                  <div
                    class="team-social d-flex flex-column align-items-center justify-content-center bg-primary"
                  >
                    <a class="btn btn-secondary btn-social mb-2" href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="25px"
                        height="25px"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M19.83 8.00001C19.83 8.17001 19.83 8.35001 19.83 8.52001C19.8393 10.0302 19.5487 11.5272 18.9751 12.9242C18.4014 14.3212 17.5562 15.5904 16.4883 16.6583C15.4204 17.7262 14.1512 18.5714 12.7542 19.1451C11.3572 19.7187 9.86017 20.0093 8.34999 20C6.15213 20.0064 3.9992 19.3779 2.14999 18.19C2.47999 18.19 2.78999 18.19 3.14999 18.19C4.96345 18.19 6.72433 17.5808 8.14999 16.46C7.30493 16.4524 6.48397 16.1774 5.80489 15.6744C5.12581 15.1714 4.62349 14.4662 4.36999 13.66C4.62464 13.7006 4.88213 13.7207 5.13999 13.72C5.49714 13.7174 5.85281 13.6738 6.19999 13.59C5.2965 13.4056 4.48448 12.9147 3.90135 12.2003C3.31822 11.486 2.99981 10.5921 2.99999 9.67001C3.55908 9.97841 4.18206 10.153 4.81999 10.18C4.25711 9.80767 3.79593 9.30089 3.47815 8.7055C3.16038 8.11011 2.99604 7.44489 2.99999 6.77001C3.00124 6.06749 3.18749 5.37769 3.53999 4.77001C4.55172 6.01766 5.81423 7.03889 7.24575 7.76757C8.67727 8.49625 10.2459 8.91613 11.85 9.00001C11.7865 8.69737 11.753 8.38922 11.75 8.08001C11.7239 7.25689 11.9526 6.44578 12.4047 5.75746C12.8569 5.06913 13.5104 4.53714 14.2762 4.23411C15.0419 3.93109 15.8826 3.87181 16.6833 4.06437C17.484 4.25693 18.2057 4.69195 18.75 5.31001C19.655 5.12822 20.5214 4.78981 21.31 4.31001C21.0088 5.24317 20.3754 6.0332 19.53 6.53001C20.3337 6.44316 21.1194 6.23408 21.86 5.91001C21.3116 6.71097 20.6361 7.41694 19.86 8.00001H19.83Z"
                          fill="#fff"
                        /></svg
                    ></a>
                    <a class="btn btn-secondary btn-social mb-2" href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#fff"
                        width="25px"
                        height="25px"
                        viewBox="0 0 32 32"
                      >
                        <path
                          d="M21.95 5.005l-3.306-.004c-3.206 0-5.277 2.124-5.277 5.415v2.495H10.05v4.515h3.317l-.004 9.575h4.641l.004-9.575h3.806l-.003-4.514h-3.803v-2.117c0-1.018.241-1.533 1.566-1.533l2.366-.001.01-4.256z"
                        /></svg
                    ></a>
                    <a class="btn btn-secondary btn-social" href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#fff"
                        width="25px"
                        height="25px"
                        viewBox="0 0 32 32"
                      >
                        <path
                          d="M20.445 5h-8.891A6.559 6.559 0 0 0 5 11.554v8.891A6.559 6.559 0 0 0 11.554 27h8.891a6.56 6.56 0 0 0 6.554-6.555v-8.891A6.557 6.557 0 0 0 20.445 5zm4.342 15.445a4.343 4.343 0 0 1-4.342 4.342h-8.891a4.341 4.341 0 0 1-4.341-4.342v-8.891a4.34 4.34 0 0 1 4.341-4.341h8.891a4.342 4.342 0 0 1 4.341 4.341l.001 8.891z"
                        />
                        <path
                          d="M16 10.312c-3.138 0-5.688 2.551-5.688 5.688s2.551 5.688 5.688 5.688 5.688-2.551 5.688-5.688-2.55-5.688-5.688-5.688zm0 9.163a3.475 3.475 0 1 1-.001-6.95 3.475 3.475 0 0 1 .001 6.95zM21.7 8.991a1.363 1.363 0 1 1-1.364 1.364c0-.752.51-1.364 1.364-1.364z"
                        /></svg
                    ></a>
                  </div>
                </div>
                <div class="d-flex flex-column bg-primary text-center py-4">
                  <h5 class="font-weight-bold">اقای نایجی</h5>
                  <p class="text-white m-0">مدیریت مدرسه</p>
                </div>
              </div>
              <div
                class="team d-flex flex-column text-center rounded overflow-hidden"
              >
                <div class="position-relative">
                  <div class="team-img">
                    <img
                      class="img-fluid w-100"
                      style="height: 500px"
                      src="/assets/img/team-1.jpg"
                      alt=""
                    />
                  </div>
                  <div
                    class="team-social d-flex flex-column align-items-center justify-content-center bg-primary"
                  >
                    <a class="btn btn-secondary btn-social mb-2" href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="25px"
                        height="25px"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M19.83 8.00001C19.83 8.17001 19.83 8.35001 19.83 8.52001C19.8393 10.0302 19.5487 11.5272 18.9751 12.9242C18.4014 14.3212 17.5562 15.5904 16.4883 16.6583C15.4204 17.7262 14.1512 18.5714 12.7542 19.1451C11.3572 19.7187 9.86017 20.0093 8.34999 20C6.15213 20.0064 3.9992 19.3779 2.14999 18.19C2.47999 18.19 2.78999 18.19 3.14999 18.19C4.96345 18.19 6.72433 17.5808 8.14999 16.46C7.30493 16.4524 6.48397 16.1774 5.80489 15.6744C5.12581 15.1714 4.62349 14.4662 4.36999 13.66C4.62464 13.7006 4.88213 13.7207 5.13999 13.72C5.49714 13.7174 5.85281 13.6738 6.19999 13.59C5.2965 13.4056 4.48448 12.9147 3.90135 12.2003C3.31822 11.486 2.99981 10.5921 2.99999 9.67001C3.55908 9.97841 4.18206 10.153 4.81999 10.18C4.25711 9.80767 3.79593 9.30089 3.47815 8.7055C3.16038 8.11011 2.99604 7.44489 2.99999 6.77001C3.00124 6.06749 3.18749 5.37769 3.53999 4.77001C4.55172 6.01766 5.81423 7.03889 7.24575 7.76757C8.67727 8.49625 10.2459 8.91613 11.85 9.00001C11.7865 8.69737 11.753 8.38922 11.75 8.08001C11.7239 7.25689 11.9526 6.44578 12.4047 5.75746C12.8569 5.06913 13.5104 4.53714 14.2762 4.23411C15.0419 3.93109 15.8826 3.87181 16.6833 4.06437C17.484 4.25693 18.2057 4.69195 18.75 5.31001C19.655 5.12822 20.5214 4.78981 21.31 4.31001C21.0088 5.24317 20.3754 6.0332 19.53 6.53001C20.3337 6.44316 21.1194 6.23408 21.86 5.91001C21.3116 6.71097 20.6361 7.41694 19.86 8.00001H19.83Z"
                          fill="#fff"
                        /></svg
                    ></a>
                    <a class="btn btn-secondary btn-social mb-2" href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#fff"
                        width="25px"
                        height="25px"
                        viewBox="0 0 32 32"
                      >
                        <path
                          d="M21.95 5.005l-3.306-.004c-3.206 0-5.277 2.124-5.277 5.415v2.495H10.05v4.515h3.317l-.004 9.575h4.641l.004-9.575h3.806l-.003-4.514h-3.803v-2.117c0-1.018.241-1.533 1.566-1.533l2.366-.001.01-4.256z"
                        /></svg
                    ></a>
                    <a class="btn btn-secondary btn-social" href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#fff"
                        width="25px"
                        height="25px"
                        viewBox="0 0 32 32"
                      >
                        <path
                          d="M20.445 5h-8.891A6.559 6.559 0 0 0 5 11.554v8.891A6.559 6.559 0 0 0 11.554 27h8.891a6.56 6.56 0 0 0 6.554-6.555v-8.891A6.557 6.557 0 0 0 20.445 5zm4.342 15.445a4.343 4.343 0 0 1-4.342 4.342h-8.891a4.341 4.341 0 0 1-4.341-4.342v-8.891a4.34 4.34 0 0 1 4.341-4.341h8.891a4.342 4.342 0 0 1 4.341 4.341l.001 8.891z"
                        />
                        <path
                          d="M16 10.312c-3.138 0-5.688 2.551-5.688 5.688s2.551 5.688 5.688 5.688 5.688-2.551 5.688-5.688-2.55-5.688-5.688-5.688zm0 9.163a3.475 3.475 0 1 1-.001-6.95 3.475 3.475 0 0 1 .001 6.95zM21.7 8.991a1.363 1.363 0 1 1-1.364 1.364c0-.752.51-1.364 1.364-1.364z"
                        /></svg
                    ></a>
                  </div>
                </div>
                <div class="d-flex flex-column bg-primary text-center py-4">
                  <h5 class="font-weight-bold">اقای نایجی</h5>
                  <p class="text-white m-0">مدیریت مدرسه</p>
                </div>
              </div>
              <div
                class="team d-flex flex-column text-center rounded overflow-hidden"
              >
                <div class="position-relative">
                  <div class="team-img">
                    <img
                      class="img-fluid w-100"
                      style="height: 500px"
                      src="/assets/img/team-1.jpg"
                      alt=""
                    />
                  </div>
                  <div
                    class="team-social d-flex flex-column align-items-center justify-content-center bg-primary"
                  >
                    <a class="btn btn-secondary btn-social mb-2" href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="25px"
                        height="25px"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M19.83 8.00001C19.83 8.17001 19.83 8.35001 19.83 8.52001C19.8393 10.0302 19.5487 11.5272 18.9751 12.9242C18.4014 14.3212 17.5562 15.5904 16.4883 16.6583C15.4204 17.7262 14.1512 18.5714 12.7542 19.1451C11.3572 19.7187 9.86017 20.0093 8.34999 20C6.15213 20.0064 3.9992 19.3779 2.14999 18.19C2.47999 18.19 2.78999 18.19 3.14999 18.19C4.96345 18.19 6.72433 17.5808 8.14999 16.46C7.30493 16.4524 6.48397 16.1774 5.80489 15.6744C5.12581 15.1714 4.62349 14.4662 4.36999 13.66C4.62464 13.7006 4.88213 13.7207 5.13999 13.72C5.49714 13.7174 5.85281 13.6738 6.19999 13.59C5.2965 13.4056 4.48448 12.9147 3.90135 12.2003C3.31822 11.486 2.99981 10.5921 2.99999 9.67001C3.55908 9.97841 4.18206 10.153 4.81999 10.18C4.25711 9.80767 3.79593 9.30089 3.47815 8.7055C3.16038 8.11011 2.99604 7.44489 2.99999 6.77001C3.00124 6.06749 3.18749 5.37769 3.53999 4.77001C4.55172 6.01766 5.81423 7.03889 7.24575 7.76757C8.67727 8.49625 10.2459 8.91613 11.85 9.00001C11.7865 8.69737 11.753 8.38922 11.75 8.08001C11.7239 7.25689 11.9526 6.44578 12.4047 5.75746C12.8569 5.06913 13.5104 4.53714 14.2762 4.23411C15.0419 3.93109 15.8826 3.87181 16.6833 4.06437C17.484 4.25693 18.2057 4.69195 18.75 5.31001C19.655 5.12822 20.5214 4.78981 21.31 4.31001C21.0088 5.24317 20.3754 6.0332 19.53 6.53001C20.3337 6.44316 21.1194 6.23408 21.86 5.91001C21.3116 6.71097 20.6361 7.41694 19.86 8.00001H19.83Z"
                          fill="#fff"
                        /></svg
                    ></a>
                    <a class="btn btn-secondary btn-social mb-2" href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#fff"
                        width="25px"
                        height="25px"
                        viewBox="0 0 32 32"
                      >
                        <path
                          d="M21.95 5.005l-3.306-.004c-3.206 0-5.277 2.124-5.277 5.415v2.495H10.05v4.515h3.317l-.004 9.575h4.641l.004-9.575h3.806l-.003-4.514h-3.803v-2.117c0-1.018.241-1.533 1.566-1.533l2.366-.001.01-4.256z"
                        /></svg
                    ></a>
                    <a class="btn btn-secondary btn-social" href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#fff"
                        width="25px"
                        height="25px"
                        viewBox="0 0 32 32"
                      >
                        <path
                          d="M20.445 5h-8.891A6.559 6.559 0 0 0 5 11.554v8.891A6.559 6.559 0 0 0 11.554 27h8.891a6.56 6.56 0 0 0 6.554-6.555v-8.891A6.557 6.557 0 0 0 20.445 5zm4.342 15.445a4.343 4.343 0 0 1-4.342 4.342h-8.891a4.341 4.341 0 0 1-4.341-4.342v-8.891a4.34 4.34 0 0 1 4.341-4.341h8.891a4.342 4.342 0 0 1 4.341 4.341l.001 8.891z"
                        />
                        <path
                          d="M16 10.312c-3.138 0-5.688 2.551-5.688 5.688s2.551 5.688 5.688 5.688 5.688-2.551 5.688-5.688-2.55-5.688-5.688-5.688zm0 9.163a3.475 3.475 0 1 1-.001-6.95 3.475 3.475 0 0 1 .001 6.95zM21.7 8.991a1.363 1.363 0 1 1-1.364 1.364c0-.752.51-1.364 1.364-1.364z"
                        /></svg
                    ></a>
                  </div>
                </div>
                <div class="d-flex flex-column bg-primary text-center py-4">
                  <h5 class="font-weight-bold">اقای نایجی</h5>
                  <p class="text-white m-0">مدیریت مدرسه</p>
                </div>
              </div>
              <div
                class="team d-flex flex-column text-center rounded overflow-hidden"
              >
                <div class="position-relative">
                  <div class="team-img">
                    <img
                      class="img-fluid w-100"
                      style="height: 500px"
                      src="/assets/img/team-1.jpg"
                      alt=""
                    />
                  </div>
                  <div
                    class="team-social d-flex flex-column align-items-center justify-content-center bg-primary"
                  >
                    <a class="btn btn-secondary btn-social mb-2" href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="25px"
                        height="25px"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M19.83 8.00001C19.83 8.17001 19.83 8.35001 19.83 8.52001C19.8393 10.0302 19.5487 11.5272 18.9751 12.9242C18.4014 14.3212 17.5562 15.5904 16.4883 16.6583C15.4204 17.7262 14.1512 18.5714 12.7542 19.1451C11.3572 19.7187 9.86017 20.0093 8.34999 20C6.15213 20.0064 3.9992 19.3779 2.14999 18.19C2.47999 18.19 2.78999 18.19 3.14999 18.19C4.96345 18.19 6.72433 17.5808 8.14999 16.46C7.30493 16.4524 6.48397 16.1774 5.80489 15.6744C5.12581 15.1714 4.62349 14.4662 4.36999 13.66C4.62464 13.7006 4.88213 13.7207 5.13999 13.72C5.49714 13.7174 5.85281 13.6738 6.19999 13.59C5.2965 13.4056 4.48448 12.9147 3.90135 12.2003C3.31822 11.486 2.99981 10.5921 2.99999 9.67001C3.55908 9.97841 4.18206 10.153 4.81999 10.18C4.25711 9.80767 3.79593 9.30089 3.47815 8.7055C3.16038 8.11011 2.99604 7.44489 2.99999 6.77001C3.00124 6.06749 3.18749 5.37769 3.53999 4.77001C4.55172 6.01766 5.81423 7.03889 7.24575 7.76757C8.67727 8.49625 10.2459 8.91613 11.85 9.00001C11.7865 8.69737 11.753 8.38922 11.75 8.08001C11.7239 7.25689 11.9526 6.44578 12.4047 5.75746C12.8569 5.06913 13.5104 4.53714 14.2762 4.23411C15.0419 3.93109 15.8826 3.87181 16.6833 4.06437C17.484 4.25693 18.2057 4.69195 18.75 5.31001C19.655 5.12822 20.5214 4.78981 21.31 4.31001C21.0088 5.24317 20.3754 6.0332 19.53 6.53001C20.3337 6.44316 21.1194 6.23408 21.86 5.91001C21.3116 6.71097 20.6361 7.41694 19.86 8.00001H19.83Z"
                          fill="#fff"
                        /></svg
                    ></a>
                    <a class="btn btn-secondary btn-social mb-2" href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#fff"
                        width="25px"
                        height="25px"
                        viewBox="0 0 32 32"
                      >
                        <path
                          d="M21.95 5.005l-3.306-.004c-3.206 0-5.277 2.124-5.277 5.415v2.495H10.05v4.515h3.317l-.004 9.575h4.641l.004-9.575h3.806l-.003-4.514h-3.803v-2.117c0-1.018.241-1.533 1.566-1.533l2.366-.001.01-4.256z"
                        /></svg
                    ></a>
                    <a class="btn btn-secondary btn-social" href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#fff"
                        width="25px"
                        height="25px"
                        viewBox="0 0 32 32"
                      >
                        <path
                          d="M20.445 5h-8.891A6.559 6.559 0 0 0 5 11.554v8.891A6.559 6.559 0 0 0 11.554 27h8.891a6.56 6.56 0 0 0 6.554-6.555v-8.891A6.557 6.557 0 0 0 20.445 5zm4.342 15.445a4.343 4.343 0 0 1-4.342 4.342h-8.891a4.341 4.341 0 0 1-4.341-4.342v-8.891a4.34 4.34 0 0 1 4.341-4.341h8.891a4.342 4.342 0 0 1 4.341 4.341l.001 8.891z"
                        />
                        <path
                          d="M16 10.312c-3.138 0-5.688 2.551-5.688 5.688s2.551 5.688 5.688 5.688 5.688-2.551 5.688-5.688-2.55-5.688-5.688-5.688zm0 9.163a3.475 3.475 0 1 1-.001-6.95 3.475 3.475 0 0 1 .001 6.95zM21.7 8.991a1.363 1.363 0 1 1-1.364 1.364c0-.752.51-1.364 1.364-1.364z"
                        /></svg
                    ></a>
                  </div>
                </div>
                <div class="d-flex flex-column bg-primary text-center py-4">
                  <h5 class="font-weight-bold">اقای نایجی</h5>
                  <p class="text-white m-0">مدیریت مدرسه</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team End -->

    <!-- Footer Start -->
    <%- include('./include/footer') %>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="/assets/#" class="btn btn-primary px-3 back-to-top"
      ><i class="fa fa-angle-double-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/lib/easing/easing.min.js"></script>
    <script src="/assets/lib/waypoints/waypoints.min.js"></script>
    <script src="/assets/lib/counterup/counterup.min.js"></script>
    <script src="/assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/assets/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/assets/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/assets/mail/jqBootstrapValidation.min.js"></script>
    <script src="/assets/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>
