<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>داشبورد اجیس </title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="/assets-dashboard/css/app.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/jqvmap/dist/jqvmap.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/weather-icon/css/weather-icons.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/weather-icon/css/weather-icons-wind.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/summernote/summernote-bs4.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets-dashboard/css/style.css">
  <link rel="stylesheet" href="/assets-dashboard/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="/assets-dashboard/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='/assets-dashboard/img/favicon.ico'>
</head>

<body>
<div class="loader"></div>
<div id="app">
  <a href="/#" data-toggle="sidebar" class="collapse-btn" style="padding-top: 25px;padding-right: 25px;color: rgb(0, 0, 0);"><i data-feather="align-justify"></i></a>
  <div class="main-wrapper main-wrapper-1">
    <div class="main-sidebar sidebar-style-2">
      <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
          <a href="/index.html"> <img alt="تصویر" src="/assets-dashboard/img/logo.png" class="header-logo"> <span class="logo-name">اجیس</span>
          </a>
        </div>
        <div class="sidebar-user">
          <div class="sidebar-user-picture">
            <img alt="تصویر" src="/assets-dashboard/img/userbig.png">
          </div>
          <div class="sidebar-user-details">
            <div class="user-name"><%= userinfo.username %></div>
            <div class="user-role text-uppercase"><%= userinfo.group %></div>
          </div>
        </div>
        <ul class="sidebar-menu">
          <li class="menu-header">اصلی</li>
          <li class="dropdown active">
            <a href="/#" class="nav-link has-dropdown"><i data-feather="monitor"></i><span>داشبورد</span></a>
            <ul class="dropdown-menu">
              <li class="active"><a class="nav-link" href="/index.html">داشبورد 1</a></li>
              <li><a class="nav-link" href="/index2.html">داشبورد 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/#" class="nav-link has-dropdown"><i data-feather="briefcase"></i><span>ابزارک ها</span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="/widget-chart.html">ابزارکهای نمودار</a></li>
              <li><a class="nav-link" href="/widget-data.html">ابزارکهای داده</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/#" class="nav-link has-dropdown"><i data-feather="command"></i><span>برنامه ها</span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="/chat.html">گپ</a></li>
              <li><a class="nav-link" href="/portfolio.html">نمونه کارها</a></li>
              <li><a class="nav-link" href="/blog.html">وبلاگ</a></li>
              <li><a class="nav-link" href="/calendar.html">تقویم</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/#" class="nav-link has-dropdown"><i data-feather="mail"></i><span>پست الکترونیک</span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="/email-inbox.html">صندوق ورودی</a></li>
              <li><a class="nav-link" href="/email-compose.html">ساختن</a></li>
              <li><a class="nav-link" href="/email-read.html">خواندن</a></li>
            </ul>
          </li>
        </ul>
      </aside>
    </div>
    <!-- Main Content -->
    <div class="main-content">
      <section class="section">
        <div class="row ">
          <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-green-dark">
              <div class="card-statistic-3">
                <div class="card-icon card-icon-large"><i class="fa fa-award"></i></div>
                <div class="card-content">
                  <h4 class="card-title">سفارشات جدید</h4>
                  <span>524</span>
                  <div class="progress mt-1 mb-1" data-height="8">
                    <div class="progress-bar l-bg-purple" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mb-0 text-sm">
                    <span class="mr-2"><i class="fa fa-arrow-up"></i>10٪ </span>
                    <span class="text-nowrap">از ماه گذشته</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-cyan-dark">
              <div class="card-statistic-3">
                <div class="card-icon card-icon-large"><i class="fa fa-briefcase"></i></div>
                <div class="card-content">
                  <h4 class="card-title">رزرو جدید</h4>
                  <span>1،258</span>
                  <div class="progress mt-1 mb-1" data-height="8">
                    <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mb-0 text-sm">
                    <span class="mr-2"><i class="fa fa-arrow-up"></i>10٪ </span>
                    <span class="text-nowrap">از ماه گذشته</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-purple-dark">
              <div class="card-statistic-3">
                <div class="card-icon card-icon-large"><i class="fa fa-globe"></i></div>
                <div class="card-content">
                  <h4 class="card-title">استعلام</h4>
                  <span>10،225</span>
                  <div class="progress mt-1 mb-1" data-height="8">
                    <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mb-0 text-sm">
                    <span class="mr-2"><i class="fa fa-arrow-up"></i>10٪ </span>
                    <span class="text-nowrap">از ماه گذشته</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-orange-dark">
              <div class="card-statistic-3">
                <div class="card-icon card-icon-large"><i class="fa fa-money-bill-alt"></i></div>
                <div class="card-content">
                  <h4 class="card-title">درآمد</h4>
                  <span>2،658 تومان</span>
                  <div class="progress mt-1 mb-1" data-height="8">
                    <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mb-0 text-sm">
                    <span class="mr-2"><i class="fa fa-arrow-up"></i>10٪ </span>
                    <span class="text-nowrap">از ماه گذشته</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>ادیتور کامل</h4>
              </div>
              <h1>ویرایشگر متنی با عکس</h1>
              <form method="post" action="/save" enctype="multipart/form-data">
                <textarea name="text" rows="10" cols="50"></textarea><br>
                <label for="image">تصویر:</label>
                <input type="file" name="image" accept="image/*"><br>
                <input type="submit" value="ذخیره">
              </form>
              <!-- <form action="/blog" method="POST">
                <div class="card-body">
                  <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">عنوان</label>
                    <div class="col-sm-12 col-md-7">
                      <input name="text" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">دسته بندی</label>
                    <div class="col-sm-12 col-md-7">
                      <select name="select" class="form-control selectric">
                        <option>فنی</option>
                        <option>اخبار</option>
                        <option>سیاسی</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">محتوا</label>
                    <div class="col-sm-12 col-md-7">
                      <textarea name="text2" class="summernote"></textarea>
                    </div>
                  </div>
                  <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                    <div class="col-sm-12 col-md-7">
                      <button class="btn btn-primary">انتشار</button>
                    </div>
                  </div>
                </div>
              </form> -->
            </div>
          </div>
        </div>
      </section>
     <div class="settingSidebar">
                    <a href="/javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
                    </a>
                    <div class="settingSidebar-body ps-container ps-theme-default">
                        <div class=" fade show active">
                            <div class="setting-panel-header">تنظیم پنل</div>
                            <div class="p-15 border-bottom">
                                <h6 class="font-medium m-b-10">رنگ قالب</h6>
                                <div class="selectgroup layout-color w-50">
                                    <label class="selectgroup-item">
                                        <input type="radio" name="value" value="1" class="selectgroup-input select-layout" checked="">
                                        <span class="selectgroup-button">روشن</span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="radio" name="value" value="2" class="selectgroup-input select-layout">
                                        <span class="selectgroup-button">تاریک</span>
                                    </label>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <h6 class="font-medium m-b-10">رنگ نوار کناری</h6>
                                <div class="selectgroup selectgroup-pills sidebar-color">
                                    <label class="selectgroup-item">
                                        <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                                        <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip" data-original-title="روشن"><i class="fas fa-sun"></i></span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked="">
                                        <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip" data-original-title="تاریک"><i class="fas fa-moon"></i></span>
                                    </label>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <h6 class="font-medium m-b-10">تم رنگی</h6>
                                <div class="theme-setting-options">
                                     <ul class="choose-theme list-unstyled mb-0">
                                    <li title="white" class="active">
                                        <div class="white"></div>
                                    </li>
                                    <li title="cyan">
                                        <div class="cyan"></div>
                                    </li>
                                    <li title="black">
                                        <div class="black"></div>
                                    </li>
                                    <li title="purple">
                                        <div class="purple"></div>
                                    </li>
                                    <li title="orange">
                                        <div class="orange"></div>
                                    </li>
                                    <li title="green">
                                        <div class="green"></div>
                                    </li>
                                    <li title="red">
                                        <div class="red"></div>
                                    </li>
                                </ul>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <div class="theme-setting-options">
                                    <label> <span class="control-label p-r-20">مینی نوار کناری</span> <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="mini_sidebar_setting">
                                        <span class="custom-switch-indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <div class="theme-setting-options">
                                    <div class="disk-server-setting m-b-20">
                                        <p>میزان حافظه</p>
                                        <div class="sidebar-progress">
                                            <div class="progress" data-height="5">
                                                <div class="progress-bar l-bg-green" role="progressbar" data-width="80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <span class="progress-description"> <small> 26% باقی مانده است</small>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="disk-server-setting">
                                        <p>بارگذاری سرور</p>
                                        <div class="sidebar-progress">
                                            <div class="progress" data-height="5">
                                                <div class="progress-bar l-bg-orange" role="progressbar" data-width="58%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <span class="progress-description"> <small>در حال بارگذاری </small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                                <a href="/#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                                    <i class="fas fa-undo"></i> تنظیمات پیشفرض
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <footer class="main-footer">
      <div class="footer-left">
        حق چاپ © 2019 <div class="bullet"></div>طراحی توسط <a href="/#">amir.h</a>
      </div>
      <div class="footer-right">
      </div>
    </footer>
  </div>
</div>
<!-- General JS Scripts -->
<script src="/assets-dashboard/js/app.min.js"></script>
<!-- JS Libraies -->
<script src="/assets-dashboard/bundles/echart/echarts.js"></script>
<script src="/assets-dashboard/bundles/chartjs/chart.min.js"></script>
<!-- Page Specific JS File -->
<script src="/assets-dashboard/js/page/index.js"></script>
<!-- Template JS File -->
<script src="/assets-dashboard/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="/assets-dashboard/js/custom.js"></script>

</body>

</html>
